.User {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    margin-top: 50px !important;
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.button {
    background-color: white;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    right:0;
    margin: 10px 10px;
}

