.userPage {
    height: 200px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

.button {
    background-color: white;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    right:0;
    margin: 10px 10px;
}