.userPage {
    height: 200px;
}

.button {
    background-color: white;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    right:0;
    margin: 10px 10px;
}

.profileTab {
    margin-top: 15px;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
    margin:  0px;
}

.edit-form-btn {
    margin-top: 15px;
}